extends ../layout

block content
  div(class="row")
    div(class="col-md-12")
      h1 Usuarios del Sistema

      table(class="table")
        thead
          th Nombre de usuario
          th Nombre
          th Primer Apellido
          th Segundo Apellido
          th
            a(class="btn btn-success", href='/users/blank') Nuevo
        tbody
          tr
            td luramirez
            td Luis
            td Ramirez
            td Martinez
            td
              a(class="btn btn-primary", href='#') Editar
              a(class="btn btn-danger", href='#') Eliminar
